 @font-face {
     font-family: 'FranklinGothicDemi';
     src: url('../assets/fonts/GeneralSans-Medium.woff2') format('woff2'),
         url('../assets/fonts/GeneralSans-Medium.otf') format('opentype');
     font-weight: 500;
     font-style: normal;
 }

 @font-face {
     font-family: 'FranklinGothicDemi';
     src: url('../assets/fonts/GeneralSans-Medium.woff2') format('woff2'),
         url('../assets/fonts/GeneralSans-Medium.otf') format('opentype');
     font-weight: 500;
     font-style: normal;
 }

 @font-face {
     font-family: 'FranklinGothicDemi';
     src: url('../assets/fonts/GeneralSans-Bold.woff2') format('woff2'),
         url('../assets/fonts/GeneralSans-Bold.otf') format('opentype');
     font-weight: 400;
     font-style: normal;
 }


 .features-main .font-family-frank,
 .features-main .key-feature-para {
     font-family: FranklinGothicDemi, sans-serif !important;
 }



 .features-main .bg-primary {
     background: #003170;
 }


 .features-main .text-primary {
     color: #003170;
 }

 .landing-page {
     overflow-x: hidden;
 }

 .features-main .p-3 {
     padding: 15px;
 }



 /* key features */
 .features-main .d-flex {
     display: flex;
 }

 .features-main .justify-content-between {
     justify-content: space-between;
 }

 .features-main .gap-3 {
     gap: 15px;
 }


 .features-main .key-features img {
     margin-bottom: 10px;
     width: 2.5em;
 }

 .features-main .key-feature {
     width: 60%;
     border-left: 1px solid #a19f9fa1;
     padding-left: 20px;
 }

 .features-main .key-feature p {
     margin-bottom: 5px;
 }

 .features-main .key-feature strong {
     font-weight: 500;
     font-size: 20px;
 }


 @media (min-width: 2600px) {
     .features-main {
         max-width: 2600px;
         background-color: white;
         margin: 0 auto;
     }

     .features-main .container {
         width: 2270px !important;
         margin: 0 auto;
     }

     .features-main .key-features img {
         margin-top: 20px !important;
         margin-bottom: 20px !important;
         width: 4em !important;
     }

     .features-main .key-feature strong {
         font-size: 32px !important;
     }

     .features-main .key-feature p {
         font-size: 24px !important;
     }

 }



 @media (min-width: 1920px) and (max-width: 2600px) {
     .features-main {
         max-width: 2600px;
         margin: 0 auto;
     }

     .features-main .container {
         width: 1590px !important;
         margin: 0 auto;
     }

     .features-main .key-features img {
         margin-top: 10px !important;
         margin-bottom: 10px !important;
         width: 3em !important;
     }

     .features-main .key-feature strong {
         font-size: 30px !important;
     }

     .features-main .key-feature p {
         font-size: 20px !important;
     }

 }

 @media (min-width:768px) and (max-width:1200px) {

     .features-main .container {
         max-width: 970px;
     }

     .features-main .container {
         width: 700px;
     }

     .features-main .col-md-7 {
         width: 58.33333333%;
         float: left;
     }

     .features-main .col-md-5 {
         width: 41.66666667%;
         float: left;

     }



     .features-main .col-md-12 {
         width: 100%;
         float: left;
     }

     .landing-page {
         overflow-x: hidden;
     }

     .features-main .key-feature p,
     .accordion-main #accordion .custom-button {
         font-size: 12px;
     }

     .accordion-main .make-your-move-section p {
         font-size: 0.9em !important;
         padding-top: 0 !important;
     }
 }


 @media (min-width:670px) and (max-width:768px) {
     .features-main .key-feature p {
         margin-bottom: 5px;
         font-size: 10px;
     }

     .features-main .key-feature strong {
         font-size: 12px;
     }
 }

 @media (max-width:670px) {

     .features-main .key-feature-para {
         display: none;
     }

     .features-main .key-feature {
         display: flex;
         align-items: center;
         gap: 10px;
     }

     .features-main .key-feature:first-child {
         border-left: 0;
         padding: 0;
     }

     .features-main .p-3 {
         padding: 10px;
         padding-top: 15px;
     }

     .landing-page {
         overflow-x: hidden;
     }

     .features-main .key-features {
         overflow-x: scroll;
     }


 }